.header {
    background-color: #ffffff;
    border-bottom: 1px solid #E3E5E8;
    line-height: 3.769;
    font-family: "Disclaimer Regular";
    font-weight: bold;
    text-decoration: none;
}
.header-inner {
    height: 62px;
    width: 90%;
    max-width: 1280px;
    display: table;
    margin: 0 auto;
    padding: 0 20px;
}
.logo{
    display: table-cell;
    vertical-align: middle;

}
.logo img {
    max-height: 28px;
}
.user-nav{
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}
.user-nav > * {
    display: inline-block;
    margin: 0 0 0 25px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.header a {
    font-family: "Disclaimer Regular";
    color: #7e7e7e;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.submit-a-request{
    background-color: #FFCA28;
    color: #1B1E83 !important;
    display: block;
    padding: 5px 20px;
}
main {
    width: 100%;
    padding: 0 0 120px 0;
}
.search-box {
    width: 90%;
    max-width: 1100px;
    margin-bottom: 0px;
    margin: 0 auto;
    z-index: 100;
}
.search-box {
    position: relative;
    background: rgba(255, 255, 255, 1);
    margin-bottom: 35px;
    padding: 35px 0;
}

.search-container {
    width: 66%;
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.help-center-name.homepage {
    max-width: 460px;
    margin: 0.5em 0;
    font-family: "Vulf Sans Light";
    line-height: 1.2em;
}
.help-center-name {
    color: #1B1E83;
    font-size: 80px;
    margin: 65px 0 50px 0;
    text-align: left;
    font-weight: normal;
}

.search-image {
    width: 33%;
    position: absolute;
    top: 5%;
    right: 4%;
    display: inline-block;
}
object.support-hero {
    width: 100%;
}
.category-link-box{
    width: 85%;
    max-width: 960px;
    margin: 0 auto;
}
.homepage-header, .library-category-title {
    font-family: "Vulf Sans Light";
    font-size: 48px;
    color: #1B1E83;
    text-align: left;
    margin: 1em auto;
    font-weight: normal;
}
.getting-started{
    background-color: #FFF8E1;
    
    height: 130px;
    margin-bottom: 50px;
    margin-right: 50px;
    border-radius: 0;
    cursor: pointer;
    display: flex;
    
}
.individual-cat-icon {
    height: 60%;
}
.accounts-passwords{
    background-color: blue;
}

.individual-cat-link {
    background-color: #FFF8E1;
    width: 46.875%;
    height: 130px;
    float: left;
    margin-bottom: 50px;
    position: relative;
    border-radius: 0;
    cursor: pointer;
}
.left-cat {
    margin-right: 6.25%;
}

.individual-cat-icon {
    height: 60%;
    width: auto;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 5%;
}

.cat-text-container {
    height: 100%;
    width: 75%;
    float: right;
    position: relative;
}
.individual-cat-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 10%;
    font-family: "Disclaimer Regular";
    font-size: 25px;
    color: #333333; 
}
.title-need-more-help, .library-category-title {
    width: 90%;
    max-width: 1100px;
    font-family: "Vulf Sans Light";
    font-size: 48px;
    color: #1b1e83;
    text-align: left;
    margin: 1em auto;
    font-weight: normal;
}
.lua-chon-help{
    float: left;
    width: 28%;
    margin-right: 8%;
    text-align: center;
    
}
.need-help-icon {
    height: 175px;
    margin: 0 auto;
}
.title-lua-chon{
    color: #1b1e83;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.van-mau-help{
    font-size: 21px;
    font-family: "Disclaimer Regular";
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
    
}
.need-help-option-button {
    color: #1A237E;
    background-color: #FFCA28;
    border-radius: 5px;
    font-family: "Disclaimer Regular";
    text-align: center;
    font-size: 17px;
    margin: auto;
    padding: 0.7em 2em;
    display: block;
}
