body{
    padding: 0;
    margin: 0;
}
header{
    width: 100px;
    line-height: 50px;
    font-size: 1em;  
}
.text-mainbo{
    
    flex-direction: column;
    
}
.text-main{
    line-height: 1.3;
    margin-bottom: 12px;
    color: #1a237e;
    font-size: 45px !important;
    font-family: "Disclaimer Regular";
    word-break: break-word;
}

p{
    font-size: 23px !important;
    font-family: "Disclaimer Regular";
}


