.ed-logo{
    width: 150px;
    height: 40px;
}
.new-container-fluid.navbar-brand{
    display: flex;
    justify-content: space-between;
}
.mau{
    background-color: #ffd54f;
}
.canle{
    display: flex;
    align-items: center;
}
.page-content{
    width: 560px;
    padding: 65px 42px 32px;
    justify-self: center;
}
.google-sso-login-icon{
    background: url(https://new.edmodo.com/static/media/google_icon.570eadea.svg) no-repeat;
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
}
.office365-sso-login-icon{
    background: url(https://new.edmodo.com/static/media/microsoft_icon.cf649998.svg) no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
}
.apple-sso-login-icon{
    background: url(https://new.edmodo.com/static/media/appleid_button.e2ce7cd8.svg) no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
}
.signup-or-container{
    text-align: center;
    border-collapse: 1px solid;
    margin: auto;
    flex-direction: row;
}
