.ed-logo{
    width: 150px;
    height: 40px;
}
.new-container-fluid.navbar-brand{
    display: flex;
    justify-content: space-between;
}
.mau{
    background-color: #ffd54f;
}
.canle{
    display: flex;
    align-items: center;
}
.page-content{
    width: 560px;
    padding: 65px 42px 32px;
    justify-content: center;
    display: flex;
}
