
.new-container-fluid.navbar-brand {
    display: flex;
    justify-content: space-between;
  }

.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}
.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.page-content {
        width: 560px;
        padding: 65px 42px 32px;
        justify-self: center;
        align-items: center;
}
.google-sso-login-icon {
        background: url(https://new.edmodo.com/static/media/google_icon.570eadea.svg)
          no-repeat;
        background-size: 24px 24px;
        width: 24px;
        height: 24px;
}
 .office365-sso-login-icon {
        background: url(https://new.edmodo.com/static/media/microsoft_icon.cf649998.svg)
          no-repeat;
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
 }
 .apple-sso-login-icon {
        background: url(https://new.edmodo.com/static/media/appleid_button.e2ce7cd8.svg)
          no-repeat;
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
}
.sso-login-button{
    display: flex;
    align-items: center;
    text-align: center;
}