body {
    margin: 0;
}
body {
    color: #1c1e27;
    font-family: Disclaimer Regular,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 22px;
}
.hs-blog-listing, .hs-blog-post {
    background-color: #f8fafc;
}
.custom-blog-body-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 55px;
    padding-bottom: 40px;
}
header.header {
    box-shadow: 0 -2px 4px rgb(0 0 0 / 50%);
    height: 60px;
    margin-bottom: 36px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
header.header {
    background-color: rgba(255,255,255,1.0);
}
header.header>.page-center {
    height: 100%;
    max-width: 1280px !important;
    padding: 0 6px !important;
}
.header-row {
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.header-left-col {
    display: flex;
    align-items: center;
}
.custom-logo {
    margin-right: 18px;
}
header.header a {
    background-color: rgba(255,255,255,1.0);
    color: #5c6178;
}
a {
    color: #0270e0;
    text-decoration: none;
}
a {
    font-family: Disclaimer Regular,Helvetica Neue,Helvetica,sans-serif;
    color: rgba(255,111,0,1.0);
    cursor: pointer;
    transition: all .15s linear;
}
button {
    -webkit-appearance: button;
}
button, input {
    overflow: hidden;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.menu-toggle-wrapper {
    display: none;
}
.header-right-col {
    height: 100%;
}
.signup-wrapper {
    display: none;
}
.header-btn-links {
    height: 100%;
    display: flex;
}
.header-btn-links span#hs_cos_wrapper_header_button_links_ {
    display: flex;
}
.header-btn-links a {
    font-family: Disclaimer Medium,Helvetica Neue,Helvetica,sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    border-radius: 0;
    padding-left: 24px;
    padding-right: 24px;
    border: 0;
    height: 60px;
    line-height: 1.5;
}
header.header .header-btn-links a:last-child, header.header .mobile-signup-btn a {
    color: #1a237e;
    background-color: rgba(255,202,40,1.0);
}
header.header a {
    background-color: rgba(255,255,255,1.0);
    color: #5c6178;
}
.custom-header-height {
    min-height: 63px;
}
.custom-menu-primary ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
ul.submenu.level-1 {
    display: flex;
}
.custom-menu-primary ul li {
    position: relative;
}
ul.submenu.level-1>li:nth-child(2) {
    display: none;
}
ul.submenu.level-1>li>a {
    font-size: 14px;
    padding-left: 24px;
    padding-right: 24px;
    height: 60px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    font-family: Disclaimer Medium,Helvetica Neue,Helvetica,sans-serif;
}