.header {
    border-bottom: 1px solid #E3E5E8;
    line-height: 3.769;
    font-family: "Disclaimer Regular";
    font-weight: bold;
    text-decoration: none;
    
}
.title-header {
    height: 62px;
    width: 90%;
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
}
.logo img {
    max-height: 28px;
}
.desktop-nav{
    margin-left: 20px;
    display: flex;
}
/* Nút Dropdown*/
.nut_dropdown {
  background-color: #ffffff;
  color: #5c6178;
  font-size: 16px;
  border: none;
  padding-right: 25px ;
  padding-left: 25px;
  
}

/* Thiết lập vị trí cho thẻ div với class dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

/* Nội dung Dropdown */
.noidung_dropdown {
  /*Ẩn nội dụng các đường dẫn*/
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  
}

/* Thiết kế style cho các đường dẫn tronng Dropdown */
.noidung_dropdown a {
  color: #5c6178;
  text-decoration: none;
  display: block;
  padding-left: 25px;
  padding-right: 100px;
  background-color: #ffffff;
  border-right: 1px solid #E3E5E8;
  border-top: 1px solid #E3E5E8;
  border-left: 1px solid #E3E5E8;
  border-bottom: 1px solid #E3E5E8;
  font-size: 14px;
 
}
.noidung_dropdown span{
    
    padding-top: 7px;
    padding-bottom: 7px;
}
/* thay đổi màu background khi hover vào đường dẫn */
.noidung_dropdown a:hover {color: black;}

/* hiển thị nội dung dropdown khi hover */
.dropdown:hover .noidung_dropdown {display: block;}

/* Thay đổi màu background cho nút khi được hover */

.dropdown:hover .nut_dropdown {background-color:#e5e5e5;}
.dropdown:hover .nut_dropdown {color:black;}

.menu-text{
    background: #1A237E;
    border-radius: 4px;
    color: #fff;
    padding: 8px 21px;
}
.menu-text-sign{
    padding: 8px 21px;
    color: #1B1E83;
}
.header{}

.bentrong{
    padding-right: 25px ;
    padding-left: 25px;
    color: #5c6178;
    text-decoration: none;
}
.desktop-nav li:hover{
    background-color:#e5e5e5;
}

.first-content{
    background-color: #e8eaf6;
}
.phandau h1{
    font-family: "Vulf Sans Light";
    line-height: 1;
    margin-top: 80px;
    margin-bottom: 12px;
    color: #1a237e;
    font-size: 60px;
    font-weight: 500;
}
.phandau p{
    padding-top: 30px;
    font-family: "Vulf Sans Light";
    font-size: 25px;
}
.phandau img{
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 70px;
    padding-left: 120px;
}
.need-account h1{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #5c6178;
    font-family: "Vulf Sans Light";
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 2px  solid #E3E5E8;
}
.type-account a{
    color: #ff6f00;
    text-decoration: none;
}
.type-account h4{
    text-align: center;
    background-color: #fdfae0;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: "Vulf Sans Light";
    color: #333333;
}
.type-account{
    background-image: url(/img/crosshatch_background_yellowpale.png);
    background-size: 100%;
    background-color: #f9fafb;
}
.type-account img{
    width: 600px;
    padding-top: 25px;
    padding-left: 40px;
    padding-bottom: 25px;
}
.dautien{
    padding-top: 50px;
    color:#5c6178 ;
    margin-right: 70px;
    padding-right: 15px;
}
.type-account p{
    margin-top: 30px;
    font-size: 23px;
    font-family: "Vulf Sans Light";
    padding-bottom: 15px;
    color:#5c6178 ;

}
.option{
    background-color: #fdfae0;
    margin-right: 100px;
    padding-top: 20px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}
.canlai{
    margin-top: 25px;
    padding-right: 99px;
    color:#5c6178 ;
    
}
.option-canlai{
    margin-top: 25px;
    background-color: #fdfae0;
    margin-right: 100px;
    padding-top: 20px;
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}
.toolkit{
    margin-top: 25px;
    background-color:#e8eaf6 ;
    border-radius: 15px;
    margin-bottom: 25px;
    padding-top: 11px;
    padding-bottom: 10px;
}
.bentrai{
    padding-top: 55px;
    padding-bottom: 40px;
    padding-left: 35px;
}
.benphai{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
}
.option-button{
    color: #1A237E;
    background-color: #FFCA28;
    border-radius: 8px;
    font-family: "Disclaimer Regular";
    padding: 0.9em 2.4em;
    font-size: 18px;
    margin-left: 100px;
    border: 1px solid #dddddd;
    text-decoration: none;
}
.guide {
      background-color:white ;

}
.guide h1{
    font-family: "Vulf Sans Light";
    color: #19237e;
    padding-top: 60px;
}
.guide p{
    font-size: 25px;
    padding-right: 20px;
    color: #5c6178;

}
main{
    background-color: #f9fafb;
    font-family: "Vulf Sans Light";
}
.dongke span{
    color: #5c6178;
    font-size: 18px;
}
.bangxanh{
    background-image: url(/img/background_stars_whiteonblue.png);
    background-size: 100%;
    border-radius: 10px;
}
.khung{
    background-image: url(/img/background_stars_color_modalv6.png);
    background-color: blanchedalmond;
    background-size: 100%;
    margin-top: 90px;
    margin-right: 20px;
    margin-bottom: 90px;
    border-radius: 10px;
}
.khung a{
    text-decoration: none;
    color: #ff6f00;
}
.khung h3 {
    padding-left: 15px;
}
.gan-cuoi{
    margin-top: 50px;
    padding-top: 25px;
    background-color: white;
    text-align: center;
    
}
.gan-cuoi a{
    text-decoration: none;
}
.gan-cuoi h3{
    text-decoration: none;
    color: #333333;
    font-size: 23px;
    text-align: center;
    font-weight: 400;
}
.gan-cuoi img{
    margin: 0 auto;
}
.top-buttom{
    right: 40px;
    bottom: 20px;
    width: 50px;
}
#backtop{
    width: 48px;
    height: 35px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: fixed;
    right: 55px;
    bottom: 0;

    cursor: pointer;
}
footer{
    color: #777777;
    padding-bottom: 15px;
}
#anhfooter{
    padding-top: 15px;
    margin-bottom: 45px;
}
footer ul li {
    list-style-type: none;
    margin: 14px 0;
}
footer h4{
    color: #636466;
    margin: 0;
    text-transform: unset;
    font-family: inherit;
    padding: 90px 10px 10px 32px;
    font-size: 16px;
}
#menu-footer-nav a{
    color: #777777;
    font-size: 14px;
    text-decoration: none;
}
.so_1{
    width: 34%;
}
.so_2{
    width: 16.5%;
}
.dropdown_footer a{
     text-decoration: none;
     font-size: 12px;
}
.dropdown_footer{
    
    border: solid 1px;
    margin-right: 190px;
   
}
.dropdown_footer:hover .noidung_dropdown {display: block;}

.noidung_dropdown a:hover {background-color: #ddd; color: black;}
