
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{

}

#main{

}

#header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: white;
  padding: 0 29px;
  border-bottom: solid 1px #E3E5E8;
}

#nav{
  margin-left: 88px;
}

#nav, .subnav{
  list-style-type: none;
}

#nav > li{
  
}

#nav li{
  display: inline-block;
  position: relative;
}

#nav li a{
  color: #5C6178;
  text-decoration: none;
  line-height: 60px;
  padding: 0 24px;
  display: inline-block;
}

#nav li:hover .subnav{
  display: block;
}


#nav > li:hover > a,
#nav .subnav li:hover a{
  color: #5C6178;
  background-color: #ccc;
}

#nav .subnav{
  text-decoration: none;
  display: none;
  width: 300px;
  top: 100%;
  left: 0;
  position: absolute;
  background-color: #ccc;
  box-shadow: 0 0 5px black;
  padding-left: 16px;
  
}

#nav .subnav a{
  color: black;
  padding: 0 0;
  line-height: 38px;
}

#login-signup{
  float: right;
  position: relative;
  color: #5C6178;
  text-decoration: none;
  line-height: 60px;
  padding: 0 24px;
  display: inline-block;
  margin-right: 88px;
}

#login-signup > li:hover >a{
  color: rgb(92, 97, 120);
  background-color: #ccc;
}

#learnmore{
  margin-left: 88px;
  margin-right: 88px;
  border-radius: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #e8eaf6;
  margin-top: 70px;
}

#content{
  background-color: #ffffff;
  margin-top: 70px;

}




footer{
  color: #777777;
  padding-bottom: 15px;
}
#anhfooter{
  padding-top: 15px;
  margin-bottom: 45px;
}
footer ul li {
  list-style-type: none;
  margin: 14px 0;
}
footer h4{
  color: #636466;
  margin: 0;
  text-transform: unset;
  font-family: inherit;
  padding: 90px 10px 10px 32px;
  font-size: 16px;
}
#menu-footer-nav a{
  color: #777777;
  font-size: 14px;
  text-decoration: none;
}
.so_1{
  width: 34%;
}
.so_2{
  width: 16.5%;
}
.dropdown_footer a{
   text-decoration: none;
   font-size: 12px;
}
.dropdown_footer{
  
  border: solid 1px;
  margin-right: 190px;
 
}
.dropdown_footer:hover .noidung_dropdown {display: block;}

.noidung_dropdown a:hover {background-color: #ddd; color: black;}

